.Modal {
  $p: &;
  @include cover;
  position: fixed;
  z-index: 100;
  display: flex;
  justify-content: center;
  backface-visibility: hidden;

  @include bp(small) {
    padding: ($base-space / 1.25);
    align-items: center;
  }

  &-enter {

    #{$p}__background {
      opacity: 0;
    }

    #{$p}__dialog {
      opacity: 0;
      transform: translateY(50%);
    }
  }

  &-enter-active {
    #{$p}__background,
    #{$p}__dialog {
      opacity: 1;
      @include ease(out);
    }

    #{$p}__dialog {
      transform: none;
    }
  }

  &-leave {
    opacity: 1;
  }

  &-leave-active {
    opacity: 0;
    @include ease(out);
  }

  &--not-fullscreen {
    align-items: center;
    padding: ($base-space / 1.75);

    #{$p}__dialog {
      height: auto;
      width: auto;
      max-width: none;
      border-radius: 4px;
    }
  }

  &--flex-start { align-items: flex-start; }

  &--error {

    #{$p}__dialog {
      border-color: color(red);
    }
  }

  &__loading {
    @include cover;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $text-color;

    &-text {
      position: relative;
      top: 6px;
      font-size: font(4);
    }
  }

  &__dialog {
    position: relative;
    width: 100%;
    background: white;
    box-shadow: 0 2px 8px rgba(black, 0.2);
    overflow-y: scroll;

    @include bp(small) {
      border-radius: 4px;
      max-width: 500px;
    }

    @include bp(medium) {
      max-width: 600px;
    }

    @include bp(large) {
      max-width: 700px;
    }
  }

  &__body {
    height: 100%;
    padding: ($base-space / 1.25);
    margin-bottom: ($base-space * 1.5);

    @include bp(small) {
      padding: ($base-space);
    }

    @include bp(medium) {
      padding: ($base-space * 1.25);
    }

    &--no-margin {
      margin-bottom: 0;
    }

    &-top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: ($base-space / -1.75);
      margin-bottom: ($base-space / 1.75);
      color: color(grey-mid-dark);
    }
  }

  &__text {
    margin-bottom: 0;
  }

  &__actions {
    $size: 36px;
    padding-left: ($base-space);
    color: color(grey-mid);
    font-size: 3.6rem;
    text-align: center;
    cursor: pointer;
    @include ease(out);

    &:hover {
      color: color(grey-mid-dark);
    }

    &--left {
      padding-left: 0;
    }
  }

  &__button {
    margin-bottom: 0;
  }

  &__background {
    @include cover;
    position: fixed;
    z-index: -1;
    background: rgba(black, 0.45);
  }
}
